@font-face {
  font-family: "CentraNo2-Bold";
  src: url("../../fonts/CentraNo2/CentraNo2-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "CentraNo2-Book";
  src: url("../../fonts/CentraNo2/CentraNo2-Book.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "CentraNo2-Medium";
  src: url("../../fonts/CentraNo2/CentraNo2-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
